footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: $third-color;
  padding: 8rem 16.5rem;
  margin-top: 18rem;

  @media screen and (max-width: 1100px) {
    margin-top: 12rem;
    padding: 5.6rem 4rem;
  }

  @media screen and (max-width: 770px) {
    flex-direction: column;
    justify-items: space-around;
    gap: 3rem;
  }

  .p-secondary {
    @include secondaryPar();
    color: $fourth-color;
    width: 43rem;

    @media screen and (max-width: 1100px) {
      font-size: 1.6rem;
    }
  }

  .logo-ftr {
    width: 16rem;
    height: 5.8rem;
  }

  .socials-container {
    display: flex;
    gap: 2rem;

    svg {
      color: rgb(255, 255, 255);

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
